{% extends 'base.html.twig' %}

{% block title %}Hello PruebaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {{ form_start(form) }}
        {{ form_errors(form.content) }}

        {{ form_label(form.content) }}<br>
        {{ form_widget(form.content) }}

        {{ form_row(form.submit, { 'label': 'Twit' }) }}
    {{ form_end(form) }}

    {% if user %}
    User just created: <br>
    {{ dump(user) }}
    {% endif %}

    Last twits from redis: <br>
    {{ dump(anonTimeline) }}
    {% for twit in anonTimeline %}
        {# @var twit \App\Twit\Application\Twit\Query\TimelineTwitResponse #}
        <div style="background-color: #81c8d0; padding: 10px; margin: 10px;">
            <img src="https://avatars.dicebear.com/api/adventurer/{{ twit.userid }}.svg" height="30px" style="border: 1px solid black;" alt="{{ twit.username }}'s avatar">
            @{{ twit.username }} - {{ twit.date | date }}<hr>
            <small>{{ twit.content }}</small>
        </div>
    {% endfor %}


    Total of {{ totalUsers.amount }} users as of {{ totalUsers.last_updated|date }} <br>
    {{ dump(totalUsers) }}

    Last {{ users.count }} Users: <br>
    {% for user in users %}
        {# @var user \App\Twit\Domain\User\User #}
        <div style="background-color: darkgray; padding: 10px; margin: 10px;">
            <img src="https://avatars.dicebear.com/api/adventurer/{{ user.userId }}.svg" height="30px" style="border: 1px solid black;" alt="{{ user.nickName }}'s avatar">
            @{{ user.nickName }} -
            <small><i>{{ user.bio }}</i></small>
        </div>
    {% endfor %}

    {#{% for twit in twits %}
    <div>
        <h4>{{ twit.content }}</h4>
        <h6>{{ twit.createdAt | date('d m Y - H:i:s') }} ({{ twit.uuid }})</h6>
    </div>
        <hr>
    {% endfor %}#}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/src/Controller/PruebaController.php'|file_link(0) }}">src/Controller/PruebaController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/templates/prueba/index.html.twig'|file_link(0) }}">templates/prueba/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
